.grid-container.small-12.medium-10
  .grid-block.small-12.wrap.bg-ice-cream-small
    .grid-content.small-12
      %div.clearfix{:style => 'margin-top:20px;margin-bottom:20px;'}
        Owners:
        - @business.owners.each do |ownership|
          %a.burnt-toast{:href => edit_business_ownership_path(@business,ownership.owner)}
            - case ownership.owner.class.name
            - when "User"
              %i.fa.fa-user
            - when "Business"
              %i.fa.fa-briefcase
            = ownership.owner.name
            = "(" + number_with_precision(ownership.equity, strip_insignificant_zeros: true) + "%)"
          |
        %a.burnt-toast{:href => new_business_ownership_path(@business)}
          %i.fa.fa-plus-circle

    .grid-content.small-7
      %div{:style => 'margin-top:20px;margin-bottom:20px;'}
        %h3= @business.name
        %p= @business.description
        - if current_user
          %a{:href => business_edit_path(@business)} Edit business
    .grid-content.small-5
      %div.clearfix{:style => 'margin-top:20px;margin-bottom:20px;'}
        - @business.memberships.each do |membership|
          .float-left{:style => 'margin-left:5px;'}
            %a{:href => edit_business_membership_path(@business,membership.member)}
              %img{:src => avatar_url(membership.member,60), :style => 'border-radius:50%;'}
        .float-left.v-align{:style => 'height:60px;margin-left:5px;'}
          .align-center.text-center{:style => 'width:40px;'}
            %a.burnt-toast{:href => new_business_membership_path(@business)}
              %i.fa.fa-plus-circle.fa-lg
