.grid-container.small-12.medium-10
  .grid-block.small-12.bg-ice-cream-small
    .grid-content.small-7
      %div{:style => 'margin-top:20px;margin-bottom:20px;'}
        %h3= @business.name
        %p= @business.description
        - if current_user
          %a{:href => business_edit_path(@business)} Edit business
    .grid-content.small-5
      %div.clearfix{:style => 'margin-top:20px;margin-bottom:20px;'}
        - @business.members.each do |user|
          .float-left{:style => 'margin-left:5px;'}
            %a{:href => vanity_path(user)}
              %img{:src => avatar_url(user,60), :style => 'border-radius:50%;'}
        .float-left.v-align{:style => 'height:60px;margin-left:5px;'}
          .align-center.text-center{:style => 'width:40px;'}
            %a.burnt-toast{:href => '#new_member_path_or_something'}
              %i.fa.fa-plus-circle.fa-lg
