- if @context.class.name == 'Group'
  - new_debt = new_group_debt_path(@context)
- else
  - new_debt = @context.class.name == "Household" ? new_user_home_debt_path(current_user) : new_resource_debt_path(@resource)

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h4 Debts
    %a.button.bg-blueberry{:href => new_debt} New debt
  .grid-block.wrap.small-12
    = render partial: 'app/finances/ledgers/ledger', collection: @ledgers

  .grid-content.small-12{:style => 'padding:10px 0 20px 0;'}
    .text-center= paginate @ledgers
