- case @resource.class.name
- when 'Household'
  - path_array = [@resource, @membership]
  - url = user_home_membership_path(@user, @membership.member)
- when 'Business'
  - path_array = [@resource, @membership]
  - url = business_membership_path(@business, @membership.member)

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3 Edit member
    = form_for path_array, url: url do |f|

      %section.block-list
        %header Member
        %ul
          %li
            .static-field{:style => 'height:2.6rem;padding:0.6rem 1rem 0.6rem 1rem;'}= @membership.member.name

      %button.button.expanded.bg-blueberry Save
      - unless @membership.member == @resource.user
        %a.button.small.hollow.strawberry-jam{:href => url, :rel => 'nofollow', 'data-confirm' => "Are you sure?", 'data-method' => 'delete'}
          %i.fa.fa-trash
          Delete
