%div
  .row.bg-ice-cream
    %footer.site-footer.medium-8.medium-offset-2.columns{:style => 'padding-top:10px;'}
      .text-center
        %small Copyright &copy; <span class="pacifico">Marmalade</span> #{Date.today.strftime("%Y")}
      .text-center{:style => 'font-size:0.8rem;padding-bottom:20px;'}
        %a.burnt-toast{:href => terms_of_service_path} Terms of Service
        |
        %a.burnt-toast{:href => privacy_policy_path} Privacy Policy
