%meta{:charset => "utf-8"}
%title Marmalade
%meta{:name => 'description', :content => "Control your life and collaborate from one global dashboard."}
%meta{:property => 'og:title', :content => 'Marmalade | Management made easy'}
%meta{:property => 'og:description', :content => 'Control your life and collaborate from one global dashboard.'}
%meta{:property => 'og:type', :content => 'website'}
%meta{:property => 'og:url', :content => 'https://marmaladeapp.herokuapp.com/'}
%meta{:property => 'og:image', :content => image_url('opengraph.png')}
%meta{:property => 'og:image:width', :content => '1400'}
%meta{:property => 'og:image:height', :content => '700'}

= stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag "site", "data-turbolinks-track" => true
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
= csrf_meta_tags

= render 'layouts/shared/shim'



