!!!
%html{:lang => 'en', :prefix => 'og: http://ogp.me/ns#', :class => 'no-js'}
  %head
    = render 'layouts/site/head'

  %body
    %div.site
      = yield

    = render 'layouts/site/footer'

    = render 'layouts/site/analytics'
