- if @context
  - if @context.class.name == 'Group'
    - edit_timer = edit_group_timer_path(@context,@timer)
    - add_time_sheet = group_timer_time_sheets_path(@context,@timer)

  - else
    - edit_timer = @context.class.name == "Household" ? edit_user_home_timer_path(current_user,@timer) : edit_resource_timer_path(@resource,@timer)
    - add_time_sheet = @context.class.name == "Household" ? user_home_timer_time_sheets_path(current_user,@timer) : resource_timer_time_sheets_path(@resource,@timer)



.grid-container.small-12.medium-10

  .grid-content.small-12
    %section.block-list
      %header Time sheets
      %ul
        %li.clearfix{:style => 'padding:10px;'}
          - @timer.time_sheets.each do |time_sheet|
            - if time_sheet.owner.class.name == "Group"
              - canonical_time_sheet = group_time_sheet_path(time_sheet.owner,time_sheet)
            - else
              - canonical_time_sheet = time_sheet.owner.class.name == "Household" ? user_home_time_sheet_path(current_user,time_sheet) : resource_time_sheet_path(time_sheet.owner,time_sheet)
            .float-left{:style => ''}
              %a.burnt-toast{:href => canonical_time_sheet}
                %strong= time_sheet.name
              - unless time_sheet == @timer.time_sheets.last
                %span{:style => 'padding:0 10px 0 7px;'}
                  |
          .float-left.v-align{:style => ''}
            .align-center.text-center{:style => 'width:40px;'}
              %a.burnt-toast{:href => add_time_sheet}
                %i.fa.fa-plus-circle.fa-lg


  .grid-content.small-12
    %h3
      = @timer.name
      %a.olive{:href => edit_timer}
        %i.fa.fa-fw.fa-pencil
    - seconds = @timer.elapsed_time.to_i % 60
    - minutes = (@timer.elapsed_time.to_i / 60) % 60
    - hours = @timer.elapsed_time.to_i / (60 * 60)
    %h2.text-center= format("%02d:%02d:%02d", hours, minutes, seconds)
    %p= @timer.description


  .grid-content.small-12
    %h4 Assigned to

    %div.clearfix{:style => 'margin-top:20px;margin-bottom:20px;'}
      - @timer.memberships.each do |membership|
        .float-left{:style => 'margin-left:5px;'}
          %a{:href => request.path + "/assignees/" + membership.id.to_s + "/edit"}
            %img{:src => avatar_url(membership.member,60), :style => 'border-radius:50%;'}

      .float-left.v-align{:style => 'height:60px;margin-left:5px;'}
        .align-center.text-center{:style => 'width:40px;'}
          - case @context.class.name
          - when "Household"
            %a.burnt-toast{:href => new_user_home_timer_assignee_path(current_user,@timer)}
              %i.fa.fa-plus-circle.fa-lg
          - when "Group"
            %a.burnt-toast{:href => new_group_timer_assignee_path(@context,@timer)}
              %i.fa.fa-plus-circle.fa-lg
          - else
            %a.burnt-toast{:href => new_resource_timer_assignee_path(@context,@timer)}
              %i.fa.fa-plus-circle.fa-lg

