- if @context.class.name == 'Group'
  - new_receivable = new_group_receivable_path(@context)
- else
  - new_receivable = @context.class.name == "Household" ? new_user_home_receivable_path(current_user) : new_resource_receivable_path(@resource)


.grid-container.small-12.medium-10

  .grid-content.small-12
    %h4 Receivables
    %a.button.bg-blueberry{:href => new_receivable} New receivable
  .grid-block.wrap.small-12
    = render partial: 'app/finances/ledgers/ledger', collection: @ledgers

  .grid-content.small-12{:style => 'padding:10px 0 20px 0;'}
    .text-center= paginate @ledgers
