- case item.context.class.name
- when "User", "Business"
  - canonical_link = resource_item_path(item.context,item)
- when "Household"
  - canonical_link = user_home_item_path(current_user,item)
- when "Group"
  - canonical_link = group_item_path(item.context,item)

%li
  %a.burnt-toast{:href => canonical_link}
    .card
      .card-section.clearfix
        %div.float-left.text-overflow{:style => 'width:5%;min-height:1px;padding:0;'}
        %div.float-left.text-overflow{:style => 'width:20%;padding:1px 1px 1px 10px;'}
          %strong= item.name
        %div.float-left.text-overflow{:style => 'width:30%;padding:1px;'}
        %div.float-left.text-overflow{:style => 'width:20%;padding:1px;'}
        %div.float-left.text-overflow{:style => 'width:25%;padding:1px;'}
          Quantity:
          %strong= item.quantity
