- if @context.class.name == 'Group'
  - new_receivable = group_new_receivable_path(@context)
- else
  - new_receivable = @context.class.name == "Household" ? user_home_new_receivable_path(current_user) : resource_new_receivable_path(@resource)


.grid-container.small-12.medium-10

  .grid-content.small-12
    %h4 Receivables
    %a.button.bg-blueberry{:href => new_receivable} New receivable
  .grid-block.wrap.small-12
    = render partial: 'app/finances/ledgers/ledger', collection: @ledgers
