- if @context
  - if @context.class.name == 'Group'
    - edit_time_sheet = edit_group_time_sheet_path(@context,@time_sheet)
    - new_timer = new_group_time_sheet_timer_path(@context,@time_sheet)
  - else
    - edit_time_sheet = @context.class.name == "Household" ? edit_user_home_time_sheet_path(current_user,@time_sheet) : edit_resource_time_sheet_path(@resource,@time_sheet)
    - new_timer = @context.class.name == "Household" ? new_user_home_time_sheet_timer_path(current_user,@time_sheet) : new_resource_time_sheet_timer_path(@resource,@time_sheet)

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3
      = @time_sheet.name
      %a.olive{:href => edit_time_sheet}
        %i.fa.fa-fw.fa-pencil
    %p= @time_sheet.description
    %a.button.bg-blueberry{:href => new_timer} New timer

  .grid-content.small-12
    %ol{:style => 'list-style:none;margin:0;'}= render partial: 'app/time/timers/timer', collection: @timers

  .grid-content.small-12{:style => 'padding:10px 0 20px 0;'}
    .text-center= paginate @timers
