- if @context
  - if @context.class.name == 'Group'
    - edit_project = edit_group_project_path(@context,@project)
    - project_new_membership = new_group_project_membership_path(@context,@project)
    - project_canonical = group_project_path(@context,@project)
    - project_messages = group_project_messages_path(@context, @project)
    - project_calendar = group_project_events_path(@context, @project)
    - project_time = group_project_timers_path(@context, @project)
    - project_budget = group_project_finances_path(@context, @project)
  - else
    - edit_project = @context.class.name == "Household" ? edit_user_home_project_path(current_user, @project) : edit_resource_project_path(@resource, @project)
    - project_new_membership = @context.class.name == "Household" ? new_user_home_project_membership_path(current_user, @project) : new_resource_project_membership_path(@resource, @project)
    - project_canonical = @context.class.name == "Household" ? user_home_project_path(current_user, @project) : resource_project_path(@resource, @project)
    - project_messages = @context.class.name == "Household" ? user_home_project_messages_path(current_user, @project) : resource_project_messages_path(@resource, @project)
    - project_calendar = @context.class.name == "Household" ? user_home_project_events_path(current_user, @project) : resource_project_events_path(@resource, @project)
    - project_time = @context.class.name == "Household" ? user_home_project_timers_path(current_user, @project) : resource_project_timers_path(@resource, @project)
    - project_budget = @context.class.name == "Household" ? user_home_project_finances_path(current_user, @project) : resource_project_finances_path(@resource, @project)

.grid-block.small-12.wrap.bg-ice-cream-small

  .grid-content.small-7
    %div{:style => 'margin-top:20px;margin-bottom:20px;'}
      %a{:href => project_canonical}
        %h3= @project.name
      %p= auto_link(@project.description, :html => { :target => '_blank' })
      - if current_user == @project.user
        %a{:href => edit_project} Edit project
  .grid-content.small-5
    %div.clearfix{:style => 'margin-top:20px;margin-bottom:20px;'}
      - @project.memberships.each do |membership|
        .float-left{:style => 'margin-left:5px;'}
          - case @context.class.name
          - when 'User', 'Business'
            - edit_member = edit_resource_project_membership_path(@context, @project, membership.member)
          - when 'Household'
            - edit_member = edit_user_home_project_membership_path(@user, @project, membership.member)
          - when 'Group'
            - edit_member = edit_group_project_membership_path(@context, @project, membership.member)
          %a{:href => edit_member}
            %img{:src => avatar_url(membership.member,60), :style => 'border-radius:50%;'}

      - if current_user == @project.user
        .float-left.v-align{:style => 'height:60px;margin-left:5px;'}
          .align-center.text-center{:style => 'width:40px;'}
            %a.burnt-toast{:href => project_new_membership}
              %i.fa.fa-plus-circle.fa-lg

.grid-block.small-12.wrap{:style => 'margin-bottom:10px;'}

  .grid-content.small-12
    %ul.menu-bar{:style => ''}
      %li{:class => request.path.starts_with?(project_messages) ? 'active' : ''}
        %a{:href => project_messages}
          %i.fa.fa-envelope-o
          Messages
      %li{:class => request.path.starts_with?(project_calendar) ? 'active' : ''}
        %a{:href => project_calendar}
          %i.fa.fa-calendar
          Calendar
      %li{:class => request.path.starts_with?(project_time) ? 'active' : ''}
        %a{:href => project_time}
          %i.fa.fa-clock-o
          Time
      %li{:class => request.path.starts_with?(project_budget) ? 'active' : ''}
        %a{:href => project_budget}
          %i.fa.fa-usd
          Budget