- if @context
  - if @context.class.name == 'Group'
    - project_canonical = group_project_path(@context,@project)
    - project_messages = group_project_address_books_path(@context, @project)
    - project_calendar = group_project_calendars_path(@context, @project)
    - project_time = group_project_time_sheets_path(@context, @project)
    - project_budget = group_project_finances_path(@context, @project)
  - else
    - project_canonical = @context.class.name == "Household" ? user_home_project_path(current_user, @project) : resource_project_path(@resource, @project)
    - project_messages = @context.class.name == "Household" ? user_home_project_contacts_path(current_user, @project) : resource_project_contacts_path(@resource, @project)
    - project_calendar = @context.class.name == "Household" ? user_home_project_calendars_path(current_user, @project) : resource_project_calendars_path(@resource, @project)
    - project_time = @context.class.name == "Household" ? user_home_project_time_sheets_path(current_user, @project) : resource_project_time_sheets_path(@resource, @project)
    - project_budget = @context.class.name == "Household" ? user_home_project_finances_path(current_user, @project) : resource_project_finances_path(@resource, @project)

.grid-container.small-12.medium-10

  .grid-block.small-12.wrap.bg-ice-cream-small

    .grid-content.small-7
      %div{:style => 'margin-top:20px;margin-bottom:20px;'}
        %a{:href => project_canonical}
          %h3= @project.name
        %p= @project.description
        - if current_user == @project.user
          %a{:href => '#'} Edit project
    .grid-content.small-5
      %div.clearfix{:style => 'margin-top:20px;margin-bottom:20px;'}
        - @project.memberships.each do |membership|
          .float-left{:style => 'margin-left:5px;'}
            %a{:href => '#'}
              %img{:src => avatar_url(membership.member,60), :style => 'border-radius:50%;'}
        - if current_user == @project.user
          .float-left.v-align{:style => 'height:60px;margin-left:5px;'}
            .align-center.text-center{:style => 'width:40px;'}
              %a.burnt-toast{:href => '#'}
                %i.fa.fa-plus-circle.fa-lg

  .grid-block.small-12.wrap
    .grid-content.small-12
      %ul.menu-bar{:style => ''}
        %li
          %a{:href => '#'}
            %strong= @project.name
    .grid-content.small-12
      %ul.menu-bar{:style => ''}
        %li
          %a{:href => project_messages}
            %i.fa.fa-user
            Contacts
        %li
          %a{:href => project_calendar}
            %i.fa.fa-calendar
            Calendar
        %li
          %a{:href => project_time}
            %i.fa.fa-clock-o
            Time
        %li
          %a{:href => project_budget}
            %i.fa.fa-usd
            Budget