- if @resource
  - case @resource.class.name
  - when 'User', 'Business'
    - path_array = [@resource, @contact, @email]
    - url = resource_contact_email_path(@resource,@contact,@email)
  - when 'Household'
    - path_array = [@resource, @contact, @email]
    - url = user_home_contact_email_path(@user,@contact,@email)
  - when 'Group'
    - path_array = [@resource, @contact, @email]
    - url = group_contact_email_path(@resource,@contact,@email)
- else
  - path_array = @contact
  - url = contact_email_path(@contact,@email)

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3= @contact.name + " - Edit email"

    = form_for path_array, :url => url do |f|

      %section.block-list
        %header Email
        %ul
          %li
            = f.text_field :address, {:placeholder => 'Email address'}

      %button.button.expanded.bg-blueberry Save
