- case event.context.class.name
- when "User", "Business"
  - canonical_link = resource_project_event_path(event.context,event.project,event)
- when "Household"
  - canonical_link = user_home_project_event_path(current_user,event.project,event)
- when "Group"
  - canonical_link = group_project_event_path(event.context,event.project,event)

%li
  %a.burnt-toast{:href => canonical_link}
    .card{:class => event.attending?(current_user) ? 'bg-ice-cream' : ''}
      .card-section.clearfix
        %div.float-left.text-overflow{:style => 'width:20%;padding:1px 1px 1px 10px;'}
          %strong= event.name
        %div.float-left.text-overflow{:style => 'width:50%;padding:1px;'}= event.description
        %div.float-left.text-overflow{:style => 'width:25%;padding:1px;'}= event.starting_at.to_formatted_s(:long)
        %div.float-left.text-overflow{:style => 'width:5%;padding:1px;'}
          - if event.attending?(current_user)
            %i.fa.fa-check.green