.grid-container.small-12.medium-10

  .grid-content.small-12.text-center
    %h3 New group/business

  .grid-block.small-12
    .grid-content.small-6.text-center
      %ul.blueberry-menu-bar.menu-bar.icon-top.text-center{:style => ''}
        %li{}
          %a.burnt-toast{:href => new_group_path}
            %i.fa.fa-fw.fa-users
            New group
    .grid-content.small-6.text-center
      %ul.blueberry-menu-bar.menu-bar.icon-top.text-center{:style => ''}
        %li{}
          %a.burnt-toast{:href => new_business_path}
            %i.fa.fa-fw.fa-briefcase
            New business