%ul.marmalade-menu-bar
  %li{'ui-sref-active' => "is-active"}
    - if @context
      %a{'ui-sref' => "item1", :href => contexts_path}
        %strong= @context.name
    - else
      %a{'ui-sref' => "item1", :href => contexts_path}
        %strong= t(:organizations).capitalize