%ul.marmalade-menu-bar
  %li.active{'ui-sref-active' => "is-active"}
    %a{'ui-sref' => "item1"}
      %i.fa.fa-dashboard.fa-fw
      %span.show-for-large Dashboard
  %li{'ui-sref-active' => "is-active"}
    %a{'ui-sref' => "item1"}
      %i.fa.fa-user.fa-fw
      %span.show-for-large Contacts
  %li{'ui-sref-active' => "is-active"}
    %a{'ui-sref' => "item2"}
      %i.fa.fa-calendar.fa-fw
      %span.show-for-large Calendar
  %li{'ui-sref-active' => "is-active"}
    %a{'ui-sref' => "item3"}
      %i.fa.fa-clock-o.fa-fw
      %span.show-for-large Time
  %li{'ui-sref-active' => "is-active"}
    %a{'ui-sref' => "item4"}
      %i.fa.fa-usd.fa-fw
      %span.show-for-large Finances
  %li{'ui-sref-active' => "is-active"}
    %a{'ui-sref' => "item5"}
      %i.fa.fa-folder-open.fa-fw
      %span.show-for-large Projects