%div.row.full-width
  %header.site-header.small-12.columns.bg-sex-on-the-beach
    %h1#site-title.text-center Marmalade
    %h2.text-center.give-you-glory Management made easy
    #take-action.text-center
      %a.large.button.bg-burnt-toast{:href => '#pricing'} Pricing
      %a.large.button.bg-strawberry-jam{'data-open' => 'signUpForm'} Sign up
      %p
        %a.button.hollow.burnt-toast{'data-open' => 'loginForm', :style => 'padding:10px;'} Sign in
      = render 'layouts/site/sign_up'
      = render 'layouts/site/login'

%div.row.full-width.bg-burnt-toast
  %div.small-12.medium-8.medium-offset-2.columns.bg-ice-cream{:style => 'margin-top:-75px;margin-bottom:-75px;'}
    %section#about.text-center
      = render 'about'

%div.row.full-width
  %section#pricing.small-12.columns.text-center
    = render 'pricing'
