- if @resource
  - case @resource.class.name
  - when 'User', 'Business'
    - path_array = [@resource, @address_book]
    - url = resource_address_book_path(@resource,@address_book)
  - when 'Household'
    - path_array = [@resource, @address_book]
    - url = user_home_address_book_path(@user,@address_book)
  - when 'Group'
    - path_array = [@resource, @address_book]
    - url = group_address_book_path(@resource,@address_book)
- else
  - path_array = @address_book
  - url = address_book_path(@address_book)

.grid-container.small-12.medium-10

  .grid-content.small-12
    %h3 Edit address book
    = form_for path_array, :url => url do |f|
      %section.block-list
        %header Address book
        %ul
          %li
            = f.text_field :name, {:placeholder => 'Name'}
          %li
            = f.text_area :description, {:placeholder => 'Description'}

      %button.button.expanded.bg-blueberry Save
