.grid-container.small-12.medium-10

  .grid-content.small-12

    - if @context.class.name == 'Group'
      %h3 #{@context.name.possessive} contacts
      %a.button.bg-blueberry{:href => new_group_address_book_path(@context)} New address book
    - elsif @context
      %h3 #{@context.name.possessive} contacts
      %a.button.bg-blueberry{:href => @context.class.name == "Household" ? new_user_home_address_book_path(current_user) : new_resource_address_book_path(@resource)} New address book
    - else
      %h3 Your contacts

    - @address_books.each do |address_book|
      = address_book.name
      |