@import "foundation-flex";
@import "motion-ui.min";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "shared/colors";
@import "shared/fonts";
@import "shared/flippable";

body{
  background-color:$ice-cream;
  color:$burnt-toast;
}

.row.full-width{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

header.site-header{
  padding-top:30vh;
  padding-bottom:125px;
  //height:75vh;
}
#pricing{
  padding-top:125px;
}
h1#site-title{
  //padding-top:30vh;
  font-family:'Pacifico', sans-serif;
  font-size: 5em;
  @include breakpoint(small only) {
    font-size:4em;
  }
}

#take-action{
  padding-top:15px;
}

#about{
  padding:25px 50px 25px 50px;
}


input ~ .switch-paddle {
    background: $blueberry;
}
input:checked ~ .switch-paddle {
    background: $strawberry-jam;
}
#monthly-yearly-switch{
  @include switch-size(1rem, 7rem, 2rem, 1.5rem, 0.25rem);
}


section.pricing{
  padding:30px 0;
  h5.stat{font-size:3rem;font-weight:300;margin-bottom:15px;}
  p{margin-bottom:0;}
}

.hidden{
  display:none;
}