.grid-block.vertical
  .grid-block
    .grid-content.small-12.collapse
      %ul.menu-bar
        %li{}
          %a{:href => vanity_path(current_user)}
            %i.fa.fa-user
            Thom Bruce
        %li{}
          - if current_user.home
            %a{:href => user_home_path(current_user)}
              %i.fa.fa-home
              = truncate(current_user.home.name, length: 15)
          - else
            %a{:href => user_home_new_path(current_user)}
              %i.fa.fa-home
              Your Household
      - if current_user.groups.count > 0 # .any? appears to utilise counter_cache; bugger. We'll have to rename our associations.
        %ul.menu-bar.vertical{:style => ''}
          %li.title Groups
          - current_user.groups.each do |group|
            %li{}
              %a{:href => group_path(group)}
                = group.name
      - if current_user.businesses.count > 0 # .any? appears to utilise counter_cache; bugger. We'll have to rename our associations.
        %ul.menu-bar.vertical{:style => ''}
          %li.title Businesses
          - current_user.businesses.each do |business|
            %li{}
              %a{:href => vanity_path(business)}
                = business.name
  .grid-block.shrink
    .grid-content.collapse
      %ul.menu-bar.vertical.icon-top
        - if false
          %li{}
            %a{:href => new_organization_path}
              %i.fa.fa-fw.fa-briefcase
              New group/business
        %li{}
          %a{:href => new_business_path}
            %i.fa.fa-fw.fa-briefcase
            New business
      %ul.menu-bar.icon-top
        %li.hide-for-medium{}
          %a{:href => feedback_path}
            %i.fa.fa-fw.fa-comment
            Feedback
        %li{}
          %a{:href => destroy_user_session_path, 'data-method' => 'delete'}
            %i.fa.fa-fw.fa-power-off
            Logout