.grid-block.vertical
  .grid-block
    .grid-content.small-12.collapse
      %ul.menu-bar
        %li{}
          %a{:href => vanity_path(current_user)}
            %i.fa.fa-user
            Thom Bruce
        %li{}
          - if current_user.home
            %a{:href => user_home_path(current_user)}
              %i.fa.fa-home
              = truncate(current_user.home.name, length: 15)
          - else
            %a{:href => user_home_new_path(current_user)}
              %i.fa.fa-home
              Your Household
      - if current_user.businesses.any?
        %ul.menu-bar.vertical{:style => ''}
          %li.title Businesses
          - current_user.businesses.each do |business|
            %li{}
              %a{:href => vanity_path(business)}
                = business.name
  .grid-block.shrink
    .grid-content.collapse
      %ul.menu-bar.icon-top
        %li{}
          %a{:href => new_business_path}
            %i.fa.fa-fw.fa-briefcase
            New business