.grid-content.small-12.collapse
  %ul.menu-bar.vertical
    %li.title
      Your Profile
    %li{}
      %a{:href => user_path(current_user)}
        = current_user.full_name
    %li.title Household
    %li{}
      %a{:href => contexts_path}
        Company Name 4
    %li.title Businesses
    %li{}
      %a{:href => contexts_path}
        Company Name 7
    %li{}
      %a{:href => contexts_path}
        Company Name 8
    %li{}
      %a{:href => contexts_path}
        Company Name 9
    %li{}
      %a{:href => contexts_path}
        Company Name 10
    %li{}
      %a{:href => contexts_path}
        Company Name 11
    %li{}
      %a{:href => contexts_path}
        Company Name 12
    %li{}
      %a{:href => contexts_path}
        Company Name 13
    %li{}
      %a{:href => contexts_path}
        Company Name 14
    %li{}
      %a{:href => contexts_path}
        Company Name 15
    %li{}
      %a{:href => contexts_path}
        Company Name 16
    %li{}
      %a{:href => contexts_path}
        Company Name 17
    %li{}
      %a{:href => contexts_path}
        Company Name 18
    %li{}
      %a{:href => contexts_path}
        Company Name 19